#introduction{

  white-space: nowrap;

  #intro_right{

    display: inline-block;
    width:75%;
    vertical-align: top;

    .card{

      display: inline-block;
      width: 32%;
      margin-left: 0.5%;
      box-shadow: none;

      .card-title{

        position:inherit;
      }

      .card-content{

        white-space: normal;
      }
    }

    .card.sml{

      display: inline-block;
      width:69%;
      margin-left:0.5%;
    }
    .card.small.right{

      width:28%;
      margin-left: 0.5%;
      display: inline-block;
      float: left !important;
    }
  }

  #intro_left{

    display: inline-block;
    width:25%;
    .menu_title{

      font-size: 2em;
      font-weight: bold;
    }

    .sub_menu{

      padding: 0vh 1.5em;

      .menu_item{

        padding-left:1em;
      }
    }

    .sub_menu_title{

      font-size: 1.5em;
      font-weight: 500;
      color: grey;
    }
  }

}