<div id="introduction">

        <div id="intro_left">

            <ul id="main_menu">

                <li class="menu_item">
                    <div class="menu_title">Menu Title</div>
                    <ul class="sub_menu">
                        <div class="sub_menu_title">Sub Menu Title</div>
                        <li class="menu_item">Menu Item</li>
                        <li class="menu_item">Menu Item</li>
                    </ul>
                </li>

            </ul>

        </div>


        <div id="intro_right">



                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="http://loremflickr.com/320/540/dog">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                            </div>
                        </div>
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="http://loremflickr.com/320/541/dog">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>

            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="http://loremflickr.com/320/542/dog">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>

            <div>

            <div class="card sml">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="http://loremflickr.com/742/320/dog">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>

                <div class="card small right">Text Container</div>

            </div>


        </div>
</div>