<div id="header">


    <div id="caption_container">

        Dream Dog

    </div>


    <div id="menu_bar" ng-click="growMenuPage()" ng-mouseenter="barAnimation()" ng-mouseleave="barAnimationDown()">

        <!--<div id="menu">-->

            <div id="top_bar"></div>

            <div id="bottom_bar"></div>

        <!--</div>-->

    </div>


    <menupage></menupage>

    <!--<nav>-->
        <!--<div class="nav-wrapper">-->
            <!--<a href="#" class="brand-logo">Logo</a>-->
            <!--<ul id="nav-mobile" class="right hide-on-med-and-down">-->
                <!--<li><a href="sass.html">Sass</a></li>-->
                <!--<li><a href="badges.html">Components</a></li>-->
                <!--<li><a href="collapsible.html">JavaScript</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</nav>-->

</div>