#cover_s{

	position: relative;
	z-index:2;
}
#cover_image{

	display: table;
	background: url('http://swaywater.com/img/drip.svg') repeat;
	background-size: 140px;
	border: 40px solid #C4EDEA;
	background-clip: content-box;
}

#cover_image,#cover_padding{

	width: 100%;
	height:100vh;
}

#logo{

	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#logo img{

	width: 25vw;
}

#hero{

	width: 100%;
	top: 0;
	height: 100vh;
	position: fixed;
	background-size: cover;
	background: url(http://swaywater.com/img/gb.jpg) no-repeat center center;
}

#content{

	width: 100%;
	height: auto;
	background-color: white;
	position: relative;
	z-index: 2;
}

#stick_nav{

	width: 100%;
	height: 60px;
	padding-top: 0.5em;
	background-color: rgba(255,255,255,0.95);
	text-align: center;
	box-shadow: 1px 1px 1px gainsboro;
	z-index: 99999;
}


#stick_nav .one_nav{

	height: auto;
	padding: .5em;
	background-color: rgba(255,255,255,0.95);
	text-align: center;
	font-weight: bolder;
	font-family: monospace;
	font-size: 1.2em;
	display: inline-block;
	margin-left: 50px;
	transition: border .5s cubic-bezier(0.82, 1.19, 0.25, 1);
}

#stick_nav .one_nav.active{

	border-bottom: 5px solid;
	cursor: pointer;
}

#stick_nav .one_nav.shop{

	color: orange;
	border-color:orange !important;
}

#top_intro,#flavors,#process{

	padding: 10% 25%;
	font-size: 2.5em;
	text-align: center;
}

#flavors,#process{

	padding: 1% 20%;
}

#process{

	background: #FFFEF8;

}

.one_pro{

	display: inline-block;
	width: 40%;
	margin-left: 10%;
	position: relative;
	margin-top: 5%;
	vertical-align: top;
}
.bg_n{

	position: absolute;
	left: 0%;
	top: 0%;
	font-size: 5em;
	line-height: 1em;
	color: rgba(220, 128, 144, 0.55);
}

.one_pro h2{

	margin-bottom: 0;
	position: relative;
	z-index: 1;
	font-size: 0.5em;
	padding: 0.5em;

}

.one_pro p{

	position: relative;
	z-index: 1;
	line-height: 2em;
	font-size: 0.5em;
	padding: 0.5em;
}

#our_story{

	margin-top: 10em;
}

#our_story_content{

	font-size: 0.6em;
	padding: 1em 2em;
	line-height: 2em;
}

.product_p_c{

	margin: auto;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	width: 8em;
	height: 8em;
	margin-top: 1em;
	background: url('http://swaywater.com/img/product-cucumber.jpg');
	background-position: center;
}

.subtitle{

	font-size: 0.5em;
	padding: 0.5em;
}
#ti_content{

	padding: .9em;
	line-height: 0.8em;
}


#produ_bg_l{

	position: absolute;
	width: calc(100% - 1em);
	overflow: hidden;
	text-align: center;
}
#produ_bg_l.r{

	top:35%;
}

#produ_bg_l.r img{

	width: 100%;
	margin: 0;
}
#produ_bg_l img{

	border: 0;
	width: 130%;
	display: block;
	margin-left: -15%;
}


#stick_nav .one_nav:hover{


	border-bottom: 5px solid black;

}

.product{

	width: 50%;
	padding: 2%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	min-height: 80vh;
}

.topl{


	background: #E1F6B4;
}

#hero_2{

	background: url('http://swaywater.com/img/flavors-hero.jpg');
	width: 100%;
	height: 100vh;
	background-position: 50%;
	background-size: cover;
	display: table;
	margin-top: 5%;
}

#hero_2_title{

	font-size: 10.0em;
	color: white;
	font-weight: bolder;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	line-height: 1.0em;
}

.toplb{

	background: #FEDFC0 url('http://swaywater.com/img/shapes-bg-grape.png');
	background-repeat: no-repeat;
	background-size: 120%;
	background-position: center bottom;
	background-clip: content-box;
}

.toprb{

	background: #DBE0D9 url('http://swaywater.com/img/shapes-bg-straw.png') no-repeat 60px 40px;
	background-size: 556px 401px;
}

.product.topl{

	padding: .5em;
	background-clip: content-box;
}

.topr{

	background: #F8F49E;
}

.product.topr {

	padding: .5em;
	background-clip: content-box;
	min-height: 20vh;
}

.prod_intro{

	text-align: center;
	font-size: .4em;
	margin-left: 20%;
	margin-right: 20%;
	padding: .5em;
	font-weight: 100;
	line-height: 1.8em;
}

.product_href{

	font-size: 0.35em;
	background: white;
	padding: 1em 10%;
	margin: 5%;
	display: inline-block;
	color: grey;
	margin-bottom: 15%;
}
