<div id="intro_main">

    <div id="cover_s">
            <div id="cover_image">
                <div id="logo">
                    <img src="http://swaywater.com/img/logo.png">
                </div>
            </div>
            <div id="cover_padding"></div>
    </div>

    <div id="hero">
    </div>

    <div id="content">

            <div id="stick_nav">
                <ul>
                    <nav class="one_nav active">
                        SWAY
                    </nav>
                    <nav class="one_nav">
                        FLAVORS
                    </nav>
                    <nav class="one_nav">
                        PROCESS
                    </nav>
                    <nav class="one_nav">
                        ABOUT
                    </nav>
                    <nav class="one_nav">
                        LOCATIONS
                    </nav>
                    <nav class="one_nav">
                        CONTACT
                    </nav>
                    <nav class="one_nav shop">
                        SHOP
                    </nav>
                </ul>
            </div>

            <div id="top_intro">

                <div class="subtitle">WHAT IS SWAY</div>
                <div id="ti_content">
                    A simple solution to sugary, synthetic drinks. Real, organic fruit, infused with purified water resulting in a completely natural and refreshing beverage. Bottled right here in Austin, Texas.
                </div>

            </div>

        <div id="flavors">

                <div class="subtitle">FALVORS</div>
                <div class="product topl">

                    <div id="produ_bg_l"><img src="http://swaywater.com/img/shapes-bg-cuc.png"></div>
                    <div class="product_p_c">
                    </div>

                    <h2>Cucumber / Lime / Mint</h2>
                    <div class="prod_intro">
                        PURIFIED WATER, ORGANIC CUCUMBER, ORGANIC LIME, ORGANIC MINT
                    </div>

                    <a class="product_href">ORDER 12 PACK</a>

                </div><!--
                --><div class="product topr">


                    <div id="produ_bg_l" class="r"><img src="http://swaywater.com/img/shapes-bg-lem.png"></div>
                    <div class="product_p_c" style="background:url('http://swaywater.com/img/product-lemon.jpg')">
                    </div>
                    <h2>Lemon / Ginger</h2>
            <div class="prod_intro">
                PURIFIED WATER, ORGANIC LEMON, ORGANIC ORANGE, ORGANIC GINGER
            </div>

            <a class="product_href">ORDER 12 PACK</a>
                </div><!--

            --><div class="product toplb">
                <div id="produ_bg_l" style="bottom: .5em;"></div>
                <div class="product_p_c" style="background:url('http://swaywater.com/img/product-grapefruit.jpg')">
                </div>

                <h2>Grapefruit / Basil</h2>
                <div class="prod_intro">
                    PURIFIED WATER, ORGANIC GRAPEFRUIT, ORGANIC BASIL<br><br>
                </div>

                <a class="product_href">ORDER 12 PACK</a>

            </div><!--
            --><div class="product toprb" style="background: #DBE0D9 url('http://swaywater.com/img/shapes-bg-straw.png');
    background-clip: content-box;
    background-size: cover;">


            <!--<div class="product_p_c" style="background:url('http://swaywater.com/img/product-lemon.jpg')">-->
            <!--</div>-->
            <h2 style=" font-size:1.0em;
    margin-top: 30%;">Rotating Flavors</h2>
            <div class="prod_intro" style="margin: 20%; margin-bottom: 28.5%;">
                We're always working on new flavors to showcase the highest quality ingredients in season. Sign up for our newsletter to find out about new product releases!
            </div>

            <a class="product_href">ORDER 12 PACK</a>
        </div>


        </div>

        <div id="hero_2">
            <div id="hero_2_title">FRESH ORGANIC DELICIOUS</div>
        </div>

        <div id="process">

            <div class="subtitle" style="margin-top: 1em">OUR PROCESS</div>

            <div class="one_pro">

                <div class="bg_n">1</div>
                <h2>Pick</h2>
                <p>We pick the freshest organic fruit available at the peak of ripeness, committed to supporting local agriculture as much as we are able.</p>

            </div><!--
            --><div class="one_pro">

            <div class="bg_n">2</div>
            <h2>PURIFY</h2>
            <p>Our water is purified to eliminate any chemicals and minerals that can affect the taste, keeping our water delicious and refreshing.</p>

            </div>

            <div class="one_pro">

                <div class="bg_n">3</div>
                <h2>INFUSE
                </h2>
                <p>We infuse the fruit in our water for just the right amount of time to get the essence of the fruit. We do not add any syrups, chemicals or additives to our water.</p>

            </div><!--
            --><div class="one_pro">

            <div class="bg_n">4</div>
            <h2>BOTTLE</h2>
            <p>Each bottle of Sway is bottled by hand without the use of machines. We also put positive words on the outside of the bottle to help put a little positive energy into the water.</p>

        </div>

            <div id="our_story"  class="subtitle">OUR STORY</div>
            <p id="our_story_content">
                Our founders Albert & Sarah married in July of 2013 and headed to Canada for their honeymoon. As they wandered through Quebec City, they came upon a French bistro that served cucumber water. It was wonderfully refreshing and they stockpiled it in their water bottles for the rest of the trip. After they traveled back to Texas, they searched for something similar but there were simply no good options; so the idea for Sway was started.
            </p>

        </div>

    </div>

</div>