<div id="menupage">


    <div id="menu">

        <ul>
            <li class="item">Home</li>
            <li class="item">Frequently Asked Questions</li>
            <li class="item">Partner With Us</li>

            <li class="item text">At Sonikpass, we strongly believe that the next generation of technology must have security built from the very start. We’d love to hear from you if you are interested in partnering with us.</li>

            <li class="item div">
                <div class="divider"></div>
            </li>

            <li class="item">
                <div class="social" style="text-align:right">CONTACT US</div>
                <div class="social">TWITTER</div>
            </li>
        </ul>

    </div>


</div>