<div id="footer_main">
	<div id="footer_left">
		<div id="footer_item">
			<a href="#/aboutus">
				<div class="oneItem">ABOUT US</div>
			</a>

			<a href="#/blog">
				<div class="oneItem">PRESS</div>
			</a>

			<a href="#/faq">
				<div class="oneItem">FAQ</div>
			</a>

			<a href="#/service">
				<div class="oneItem">TERMS OF SERVICE</div>
			</a>
		</div>
	

		<div id="social_icons">
			<a href="">
				<div class="oneIcon" style="background: url(social_icons.png);"></div>
			</a>

			<a href="">
				<div class="oneIcon" style="background: url(social_icons.png) -40px center;"></div>
			</a>

			<a href="">
				<div class="oneIcon" style="background: url(social_icons.png) -80px center;;"></div>
			</a>

			<a href="">
				<div class="oneIcon" style="background: url(social_icons.png) -120px center;"></div>
			</a>

			<a href="">
				<div class="oneIcon" style="background: url(social_icons.png) -160px center;"></div>
			</a>
		</div>

		<div id="contact_info">
			Contact Us @ 
			<a href="" target="_top">contact@dreamdog.com</a>
		</div>

		<div id="copy_right">Copyright©2016 Pantoscope Media Inc.
		</div>
	</div>

	<div id="footer_right">
	    <div id="download">
	        <a href="https://itunes.apple.com/app/id911111086" target="_blank" style="background-image: url(app_store.png);"></a>
	        <a id="google_download" href="" target="_blank" style="background-image: url(app_store.png); background-position-x: -160px;"></a>
	    </div>
	</div>


</div>