#feature{

  #feature_container{

    width: 100%;
    white-space: nowrap;
    
    #feature_left{

      display: inline-block;
      width: 40%;
      vertical-align: top;
      padding: 5em 0;
      white-space: normal;
      #caption{

        font-size: 4em;
        line-height: 1em;
        font-weight: bold;
      }
      #content{

        padding: 2em 0;
        font-size: 1.5em;
        line-height: 1.2em;
      }
    }

    #feature_right{

      width:60%;
      display: inline-block;
      height: 100vh;
      position: relative;
      vert-align: top;

      #screen_bg_top{

        position: absolute;
        right: 100px;
        top: 0;
        transform: rotateX(55deg) rotateY(0deg) rotateZ(-35deg);

        img{

          max-width: 480px;
          height: 800px;
        }
      }

      .screen_bg{

        position: absolute;
        right: 0;
        top:0;
        transform: rotateX(55deg) rotateY(0deg) rotateZ(-35deg);
        transform-style: preserve-3d;
        transition: transform 1800ms;

        img{

          max-width: 480px;
          height: 800px;
        }
      }
    }
  }

}