<div id="feature">

    <div id="feature_container">

        <div id="feature_left">

            <div id="caption">Work in Slack.
                Plan in Hud.</div>

            <div id="content">Hud is a layer of organization that sits on top of your Slack account. It lets you organize your Slack rooms however you want, and enriches them with the data you need to run projects in Slack. With Hud, your team never has to leave Slack</div>

        </div>
        <div id="feature_right">

            <div id="screen_bg_top">
                <img src="http://gethud.com/assets/images/channels.png">
            </div>

            <div class="screen_bg">
                <img src="http://gethud.com/assets/images/channels.png">
            </div>

        </div>

    </div>

</div>